#title{
    font-size:40px;   
}
.orange {
    color:orange;   
}

h1{
    font-family: 'Nosifer', cursive;
}

#poster{
    width:500px;   
}

img {
    width:50px;
}

body {
    text-align:center;
    color:white;
    background-color:black;
    font-family: 'Cinzel', serif;
}
